# SETTINGS
# The not ignored files store settings for formatting and compilation options
.settings/*
!.settings/org.eclipse.cdt.core.prefs
!.settings/org.eclipse.core.runtime.prefs
!.settings/org.eclipse.core.resources.prefs
!.settings/org.eclipse.cdt.codan.core.prefs

# Do not update header with BLE Pin
**/BLEPin.h

.idea

.cache
.metadata

# This file has paths specific to the developer's filesystem,
# not relative to the project
compile_commands.json

Release
Debug