# SETTINGS
# The not ignored files store settings for formatting and compilation options
.settings/*
!.settings/org.eclipse.cdt.core.prefs
!.settings/org.eclipse.core.runtime.prefs
!.settings/org.eclipse.core.resources.prefs
!.settings/org.eclipse.cdt.codan.core.prefs

.idea

.cache

# This file has paths specific to the develper's system,
# not realitve to the projet
compile_commands.json

Release
Debug