---
Checks: '-*,cppcoreguidelines-pro-bounds-*,-cppcoreguidelines-pro-bounds-constant-array-index,cppcoreguidelines-pro-type-*,cert-*,clang-analyzer-core-*,clang-analyzer-cplusplus-*,clang-analyzer-deadcode-*,clang-analyzer-security-*,performance-*,readability-identifier-naming,readability-misleading-indentation,readability-simplify-boolean-expr,readability-uppercase-literal-suffix,-readability-magic-numbers,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-type-vararg'
FormatStyle: file
WarningsAsErrors: ''
CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: 'CamelCase'
  - key: readability-identifier-naming.ClassCase
    value: 'CamelCase'
  - key: readability-identifier-naming.StructCase
    value: 'CamelCase'
  - key: readability-identifier-naming.FunctionCase
    value: 'camelBack'
  - key: readability-identifier-naming.FunctionIgnoredRegexp
    value: '^[a-z]+(_[a-z]+)*$'
  - key: readability-identifier-naming.VariableCase
    value: 'camelBack'
  - key: readability-identifier-naming.VariableIgnoredRegexp
    value: '^[A-Z_]+$|^[a-z]+(_[a-z]+)*$'
  - key: readability-identifier-naming.ParameterCase
    value: 'camelBack'
  - key: readability-identifier-naming.MemberCase
    value: 'camelBack'
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: StaticPrivate: '_' Global: '_'